/*********/
/*Product*/
/*********/

/*Item Details*/
.item {
  margin: 135px 0;
  display: flex;
  justify-content: center;
}
.item article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.item__img {
  width: 100%;
}
.item__img img {
  width: 100%;
  border-radius: 15px;
}
.item__content {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item__content h1 {
  text-align: left;
  font-size: 48px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0;
}
.item__content__titlePrice,
.item__content__description,
.item__content__settings {
  border-bottom: 1px solid white;
}
.item__content__titlePrice p {
  margin-top: 4px;
}
.item__content__description {
  display: flex;
  flex-direction: column;
}
.item__content__description__title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0;
}
.item__content__settings {
  padding-top: 24px;
  padding-bottom: 18px;
}
.item__content__settings__color {
  margin-bottom: 10px;
}
.item__content__settings__color select,
.item__content__settings__quantity input {
  color: var(--footer-secondary-color);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid #767676;
  text-align: center;
  text-align-last: center;
}
.item__content__settings__color select:focus,
.item__content__settings__quantity input:focus {
  outline: none;
}
.item__content__addButton {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}
.item__content__addButton button {
  font-size: 22px;
  border-radius: 40px;
  border: 0;
  background-color: var(--secondary-color);
  color: white;
  padding: 18px 28px;
  cursor: pointer;
}
.item__content__addButton button:hover {
  box-shadow: rgba(42, 18, 206, 0.9) 0 0 22px 6px;
}

/***************/
/*Media queries*/
/***************/

@media (max-width: 991.98px) {
  .item article {
    width: 70%;
  }
  .item__content__settings__color,
  .item__content__settings__quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item__content__settings__color {
    margin-bottom: 26px;
  }
}

@media (max-width: 575.98px) {
  .item article {
    width: 90%;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: #3498db;
  width: 500px;
  max-width: 80%;
  height: 200px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
  text-align: center;
  font-size: 18px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.valid {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 18px;
}
